body{
	font-family: Georgia, Helvelica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0px;
	margin-left:  10%;
	margin-right: 10%;
	background-color: #f4f4f4;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* Header */
header{
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #dacdbc  3px solid;
	text-align: center;
}

header a{
	color: #030303;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header nav{
	margin-top: 10px;
}

header ul{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	text-align: left;
}

header li{
	float: left;
	display: inline;
	padding:  10px 10px 10px 10px;
}

header #branding h1{
	margin: 0;
}

header #logo{
	color:#7ac3bc;
	font-weight: bold;
	font-family: cursive; 
	font-size: 45px;
}

header .currentPage a{
	color: #c28f52;
	font-weight: 
}

header a:hover{
	color:#2a2c38;
	font-weight: bold;
}

/* Showcase*/

#showcase{
	min-height: 500px;
	background-image: url("../images/showcase.jpg"); 
	text-align: center;
	color: #282c38;
	text-transform: uppercase;
	font-size: 16px;
}

#showcase h1{
	margin-top: 200px;
	font-size: 45px;
	margin-bottom: 10px;
	font-family: sans-serif;
}

/* Products */
#recommendedProduct{
	color: #fffff;
	background: #d8f0ee;
}

#recommendedProduct h1{
	margin-top:20px;
}

/* Boxes */

#recommendedProduct #containerBox{
	display: flex;
	flex-flow: row wrap;
}

#recommendedProduct .box{
	padding: 10px;

	
}








