body{
	font-family: Georgia, Helvelica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0px;
	margin-left:  18%;
	margin-right: 18%;
	background-color: #f4f4f4;
}

.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.border-bottom{
	border-bottom: #dacdbc  3px solid;
	margin-bottom: 2px;
}

header a:hover{
	color:#2a2c38;
	font-weight: 700;
}

header a{
	line-height: 0;
}

.menu-text{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

.menu-container{
	line-height: 50px;
	min-width:140px;
	height: 50px;
}

.show-menu {
	text-align: center;
	padding: 0 0 10px 0;
	display: none;
}

.margin-top-10{
	margin-top: 10px;
}

.dark-grayish-blue{
	color:#2a2c38;	
}

.brown-color{
	color: #c28f52;
}

.gray-color{
	color: #030303;
}

.md-button {
	background-color: #616161;
	color: #ffffff;
	text-transform: none;
	text-decoration: none;

	border: 0;
	padding: 0 8px;
	margin: 6px 8px;

	line-height: 36px;
	font-size: 14px;
	letter-spacing: .01em;

	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);

	display: table;
}

.md-button:hover{
	color: #d2b08d;
}

.no-border{
	border: 0px;
}

.demi-bold{
	font-weight: 700;
}

.text-center{
	text-align: center;
}

.align-center{
	align-items: center;
	align-content: center;
	justify-content: center;
}

.inline-block{
	display: inline-block;
}

.align-left{
	text-align: left;
}

.layout-column{
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	flex-direction: column;
}

.layout-row{
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	flex-direction: row;
}

.no-margin{
	margin: 0;
}

.auto-margin{
	margin: auto;
}

.no-margin-top-bottom{
	margin-top: 0;
	margin-bottom: 0;
}

.light-text{
	font-weight: 300;
}

.padding-10{
	padding: 10px;
}

.padding-5{
	padding: 5px;
}

.no-padding{
	padding: 0;
}

.flex{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	flex-wrap: wrap;
}

.flex-33{
	max-height: 100%;
	max-width: 33.33%;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;	
	box-sizing: border-box;
}

.relative-position{
	position: relative;
}

.width-100{
	width: 100%; 
}

.width-50{
	width: 50%; 
	height: 85%;
}

.font-13{
	font-size: 13px;
}

.font-16{
	font-size: 16px;
}

.max-width-100{
	max-width: 100%;
}

.line-height-1{
	line-height: 1.1;
}

.list-style-type{
	list-style-type:none;
}

p{
	font-size: 14px;
}

/*Hide checkbox*/
input[type=checkbox]{
	display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
	display: block;
}

@media all and (max-width : 760px){

	body{
		margin-left: 2%;
		margin-right: 2%;
	}

	header ul {
		position: absolute;
		display: none;
		left: 0;
		right: 0;
		background: #f4f4f4;
	}

	header ul li, li a {
		width: 100%;
	}

	#logo{
		width: 100%; 
	}

	h1{
		font-size: 16px;
	}

	p{
		font-size: 11px;
	}

	.menu-text{
		font-size: 16px;
	}

	.show-menu {
		display:block;
	}

	.flex-33{
		max-width: 100%;
	}
}

@media all and (max-width: 1000px) and (min-width: 760px){

	body{
		margin-left: 2%;
		margin-right: 2%;
	}

	.flex-33{
		max-width: 50%;
	}
}

.no-text-decoration{
	text-decoration: none;
}

.image-container{
	width:100%;
	height:70vh;
	overflow:hidden;
}