body {
	font-family: Georgia, Helvelica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0px;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #f4f4f4;
}

.border-bottom {
	border-bottom: #dacdbc 3px solid;
	margin-bottom: 2px;
}

header a:hover {
	color: #2a2c38;
	font-weight: 700;
}

header a {
	line-height: 0;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: #c28f52;
}

.menu-text {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

.menu-container {
	line-height: 50px;
	min-width: 140px;
	height: 50px;
}

.show-menu {
	text-align: center;
	padding: 0 0 10px 0;
}

.brown-color {
	color: #c28f52;
}

.light-brown-bkgd {
	background-color: #f8efed;
}

.gray-color {
	color: #030303;
}

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: Oswald;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
	outline: 0 none;
}

.btn-primary {
	background: #498eca;
	color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
	background: #396c98;
}

.btn-primary:active,
.btn-primary.active {
	box-shadow: none;
}

.icon {
	font-size: 20px;
	color: #000;
}

.icon:hover {
	color: #c28f52;
}

.icon-container {
	padding: 6px 12px 6px 12px;
}

#searchValue {
	border: none;
	background: transparent;
	margin-bottom: 0;
	margin-left: 10px;
	font-size: 20px;
	padding: 0;
}

#searchValue:focus {
	outline: #f4f4f4;
}

#categories-container {
	position: relative;
	padding: 5px 5px 0px 5px;
}

.scroller {
	color: #000000;
	width: 40px;
	text-align: center;
	padding: 5px;
	margin-top: 8px;
}

.scroller-right {
	float: right;
}

.scroller-left {
	float: left;
}

.category-wrapper {
	margin: 0 auto;
	overflow: hidden;
	padding: 5px;
	height: 50px;
}

.category-list {
	left: 0px;
	top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.category {
	padding: 10px;
	display: table-cell;
	margin: 1px;
	text-align: center;
	cursor: grab;
	cursor: -webkit-grab;
	vertical-align: middle;
	width: 150px;
}

.category-button {
	color: #030303;
	font-weight: normal;
	background: transparent;
	border: none;
	outline: none;
	font-size: 18px;
}

.category-button:hover,
.category-button:focus,
.category-button:active,
.category-button.active,
.open>.dropdown-toggle.category-button {
	color: #c28f52;
	font-weight: bold;
}

.category-button::after {
	display: block;
	font-weight: bold;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}


.dropdown-menu{
	background: #f4f4f4;
}

.hidden-arrow{
	color: transparent;
}

.fa-icon {
	height: 30px
}

.no-border {
	border: 0px;
}

.demi-bold {
	font-weight: 700;
}

.light-text {
	font-weight: 300;
}

.align-center {
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-justify {
	line-height: 1.5;
	text-align: justify;
}

.align-flex-end {
	justify-content: flex-end;
}

.align-flex-start {
	align-self: flex-start;
}

.inline-block {
	display: inline-block;
}

.display-none {
	display: none;
}

.no-margin {
	margin: 0;
}

.no-margin-top-bottom {
	margin-top: 0;
	margin-bottom: 0;
}

.no-top-margin {
	margin-top: 0;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-30 {
	margin-top: 30px;
}

.auto-margin {
	margin: auto;
}

.margin-10{
	margin: 10px;
}

.padding-5 {
	padding: 5px;
}

.padding-left-5 {
	padding-left: 5px;
}

.padding-10 {
	padding: 10px;
}

.padding-top-bottom-10 {
	padding-bottom: 10px;
	padding-top: 10px;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-left-15 {
	padding-left: 15px;
}

.padding-left-right-30 {
	padding-left: 30px;
	padding-right: 30px;
}

.no-left-padding {
	padding-left: 0;
}

.no-right-padding {
	padding-right: 0;
}

.no-padding {
	padding: 0;
}

.flex {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	flex-wrap: wrap;
	align-items: center;
}

.layout-column {
	display: flex;         	/* NEW, Spec - Opera 12.1, Firefox 20+ */
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;   	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	/* TWEENER - IE 10 */
	display: -webkit-flex;	/* NEW - Chrome */
	flex-direction: column;
}

.layout-row {
	display: flex;           /* NEW, Spec - Opera 12.1, Firefox 20+ */
	display: -webkit-box;    /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;  	 /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;    /* TWEENER - IE 10 */
	display: -webkit-flex;   /* NEW - Chrome */
	flex-direction: row;
}

.flex-x{
	max-height: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;
	box-sizing: border-box;
}

.max-width-100 {
	max-width: 100%;
}

.min-width-100 {
	min-width: 100px;
}

.max-width-80 {
	max-width: 80%;
}

.max-width-50{
	max-width: 50%;
}

.max-width-40 {
	max-width: 40%;
}

.max-width-33 {
	max-width: 33.33%;
}

.max-width-20 {
	max-width: 20%;
}

.max-width-15{
	max-width: 15%;
}

.max-width-10 {
	max-width: 10%;
}

.relative-position {
	position: relative;
}

.fixed-position {
	position: fixed;
}

.absolute-position {
	position: absolute;
}

.width-100 {
	width: 100%;
}

.width-25 {
	width: 25%;
}

.width-75 {
	width: 75%;
}

.height-20vh {
	height: 20vh;
}

.height-40vh {
	height: 40vh;
}

.height-70vh {
	height: 70vh;
	width: 100%;
}

.font-16 {
	font-size: 16px;
}

.line-height-1 {
	line-height: 1.1;
}

.list-style-type {
	list-style-type: none;
}

p {
	font-size: 14px;
}

h3 {
	margin-top: 5px;
}

ul {
	padding-left: 0;
}

.no-text-decoration {
	text-decoration: none;
}

.image-container {
	width: 100%;
	height: 43vh;
	overflow: hidden;
	object-fit: cover;
}

.img-cover {
	object-fit: cover;
	object-position: center center;
}

.img-contain {
	object-fit: contain;
}

.contact-container {
	display: table;
	margin: 0 auto;
}

.message-height {
	height: 170px;
}

.error-text {
	padding: 10px 10px 10px 0;
	color: #ff0000;
	font-size: 18px;
}

.success-text {
	padding: 10px 10px 10px 0;
	font-size: 18px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.no-flex-wrap {
	flex-wrap: nowrap;
}

.lightbox-container {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
	opacity: 0.5;
}

.lightbox {
	width: 80%;
	height: 60%;
	z-index: 1;
	opacity: 1;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.close-button {
	color: #c28f52;
	top: 10px;
	right: 10px;
	font-size: 20px;
}

.close-button:hover,
.close-button:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer
}

.prev,
.next {
	top: 60%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: #c28f52;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.number-text {
	color: #c28f52;
	font-size: 16px;
	padding: 8px 12px;
	top: 0;
	font-weight: 700;
}

.image-slides {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.8);
}

.no-slider {
	position: relative;
	margin: 0 auto;
	display: table;
}

.page-button {
    position: relative;
    padding: .5rem .75rem;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
    font-size: 18px;
}

.page-button:hover,
.page-button:focus,
.page-button:active,
.page-button.active,
.open>.dropdown-toggle.page-button {
	color: #c28f52;
	font-weight: bold;
}

.active{
	color: #c28f52;
	font-weight: bold;
}

/* override bootstrap*/
.table .table {
	background-color: transparent;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
}

/*Hide checkbox*/
input[type=checkbox] {
	display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked~#menu {
	display: block;
}

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical
}

@media all and (max-width: 760px) {
	ul#menu {
		position: absolute;
		display: none;
		left: 0;
		right: 0;
		background: #f4f4f4;
	}
	header ul li,
	li a {
		width: 100%;
	}
	li {
		font-size: 11px;
	}
	p {
		font-size: 11px;
	}
	h2,
	h3 {
		font-size: 18px;
		margin-bottom: 5px;
	}
	h4 {
		font-size: 17px;
	}
	span{
		font-size: 15px;
	}
	#about-me h2 {
		padding-top: 0px;
	}
	.menu-text {
		font-size: 16px;
	}
	.show-menu {
		display: block;
		margin: 0;
		padding-top: 10px;
	}
	.max-width-33, .max-width-50, .max-width-20{
		max-width: 100%;
	}
	.width-75{
		width: 100%;
	}
	.icon {
		font-size: 15px;
		padding-top: 8px;
	}
	.icon-container {
		padding: 0;
	}
	#searchValue {
		font-size: 15px;
	}
	.image-container {
		height: 30vh;
	}
	.fa-icon {
		height: 15px
	}
	.category-button {
		font-size: 16px;
	}
	#productsInCart .category-button {
		font-size: 11px;
	}
	.btn {
		font-size: 9px;
		padding: 10px 15px 10px 15px;
		font-weight: 500;
		letter-spacing: 0.5px;
	}
	#product p {
		font-size: 13px
	}
	#product li {
		font-size: 11px;
	}
	#productLocation span {
		font-size: 14px;
	}
	#productLocation {
		font-size: 14px;
	}
	#productName p{
		font-size: 14px;
	}
	.height-40vh {
		height: 20vh;
	}
	.height-70vh {
		height: 30vh;
	}
	.lightbox {
		width: 100%;
	}
	.prev,
	.next {
		top: 28%;
		font-size: 20px;
	}
	.close-button {
		right: 15px;
	}
	#contact-form label, input{
		font-size: 15px;
		padding: 0 0 0 10px;
		margin: 0;
	}
	#contact-form .layout-row{
		flex-wrap: wrap;
	}
	.form-control{
		padding: 6px;
		max-width: 20%;
	}
	#cart-container{
		padding: 0;
	}
}

@media all and (max-width: 1000px) and (min-width: 760px) {
	.max-width-33{
		max-width: 50%;
	}
	#searchValue {
		font-size: 18px;
	}
	.btn {
		font-size: 12px;
	}
	#about-me h2 {
		padding-top: 0px;
	}
	.height-40vh {
		height: 30vh;
	}
}

@media all and (min-width: 1400px) {
	.menu-text {
		font-size: 27px;
	}
	.menu-container {
		line-height: 50px;
		min-width: 250px;
		height: 50px;
	}
	.icon {
		font-size: 25px;
	}
	#searchValue {
		font-size: 25px;
	}
	p {
		font-size: 20px;
	}
	h4 {
		font-size: 24px;
	}
	.category-button {
		font-size: 22px;
	}
	#recommendedProducts a {
		font-size: 22px;
	}
	#productsByCategory a {
		font-size: 22px;
	}
	.fa-icon {
		height: 41px;
	}
	.min-width-100 {
		min-width: 150px;
	}
	#product li {
		font-size: 20px;
	}
	#productLocation span {
		font-size: 21px;
	}
	#productLocation {
		font-size: 21px;
	}
	#productName p {
		font-size: 21px;
	}
	.height-20vh {
		height: 30vh;
	}
	.number-text {
		font-size: 25px;
	}
	.prev,
	.next {
		font-size: 40px;
	}
	.close-button {
		font-size: 30px;
	}
}